/* FONTS */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('../fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
:root{
 --brand-color:#1E90FF;
 --heading-font:'Bebas Neue', sans-serif;
 --text-font: "Roboto Condensed", sans-serif;
}
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  font-family: var(--heading-font);
  background-color: #fff;
  color: #222;
}
.container{
  display: flex;
  max-width: 600px;
  padding-right: 54px;
  padding-left: 54px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* MAIN */
.blog{
  flex-grow: 1;
  display: flex;
}

/* BLOG-RIGHT */
.blog-right {
  padding-top: 54px;
}
.blog-right-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  padding-bottom: 24px;
  border-bottom: 1px solid #999;
}
.latest-videos-items {
  width: 100%;
}
.latest-videos-item {
  display: flex;
}
.latest-videos-item:not(:last-child){
  margin-bottom: 10px;
}
.latest-videos-item:last-of-type{
  margin-bottom: 23px;
}
.latest-videos-item-img {
  width: 160px;
  height: 90px;
  border-radius: 4px;
  display: inline-block;
}
.latest-videos-item-content {
  padding-top: 16px;
  padding-right: 9px;
  padding-left: 16px;
}
.latest-videos-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
}

.latest-videos-heading-link {
  text-decoration: none;
  display: block;
  color: #222;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.latest-videos-heading-link:hover{
  color:  var(--brand-color);
}
.latest-videos-heading-link:active{
  opacity: 0.6;
}
.about-video {
  display: flex;
  font-family:  var(--text-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
.uploaded-time {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.uploaded-time::before{
  content: "";
  margin-right: 5px;
  width: 13px;
  height: 13px;
  background-image: url("../img/time-icon.svg");
  background-size: contain;
  background-position: center center;
}
.views-number {
  display: flex;
  align-items: center;
}
.views-number::before{
  content: "";
  margin-right: 5px;
  width: 13px;
  height: 13px;
  background-image: url("../img/eyes-icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.reload {
  font-family:  var(--text-font);
  text-decoration: none;
  display: block;
  padding: 12px 209px;
  background-color:  var(--brand-color);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  transition: opacity 0.4s ease;
}
.reload:hover{
  opacity: 0.8;
}
.reload:active{
  opacity: 0.6;
}

/* BLOG-LEFT */
.blog-left{
  width: 600px;
  height: 100%;
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center center;
}
.blog-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.blog-left-content {
  width: 285px;

}
.blog-heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.blog-left-link{
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  background-color:  var(--brand-color);
  transition: opacity 0.4s ease;
}
.blog-left-link:hover{
  opacity: 0.8;
}
.blog-left-link:active{
  opacity: 0.6;
}
.top-blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;

}
.top-blogs::before{
  content: "";
  margin-right: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/star-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .blog-left{
    background-image: url("../img/forest@2x.jpg");
  }


}